.item-carouseljs{
  width:150px;
  min-height: 45px;
}
.course-title{
  text-align: center;
}

.course-figure{
  overflow:hidden;
}

.course-text{
  padding:2em;
  min-height: 200px;
}

.course-item{
  padding:1em;
}


.green{
  color: #3e9a12;
}

#map{
  padding: 0 !important;
}

.angular-google-map-container { height: 400px; }
